<article class="span5 offset3" style="margin-top: 2%;">
	
	<h2>Community Stream</h2>
	
	<input data-ng-model="newFactor">
	<a class="btn btn-success" data-ng-click="sendNewFactor()">Send</a>

	
	<ul>
		<li data-ng-repeat="notification in notifications | reverse | limitTo:6">{{notification}}</li>
	</ul>

</article>


<article class="span5 offset3" style="margin-top: 2%;">
	
	<input data-ng-model="newProcess">
	<a class="btn btn-success" data-ng-click="sendNewProcess()">Send</a>

	<ul>
		<li data-ng-repeat="pnotification in processNotifications | reverse | limitTo:6">{{pnotification}}</li>
	</ul>

</article>