<section class="container">

	<h1>Welcome to Geodecisions</h1>

	<article class="row span8">
		<p>Geodecisions is a tool intended to help managers in their
			decision making processes using geographic information adapted to their concrete processes.</p>
		<p> Geodecisions is a pluggable system which evolving constinuosly in order to give support
		to more and more kinds of decision making processes in a transparent way for users.</p>

	</article>

	<article class="row span4">
		<form name="form" novalidate class="form-horizontal">

			<div class="modal-header ">
				<h4>Please enter your login details</h4>
			</div>

			<div class="modal-body">
				<label>E-mail</label> <input name="login" type="email"
					data-ng-model="user.email" required autofocus> <label>Password</label>
				<input name="pass" type="password" data-ng-model="user.password"
					required>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary login" data-ng-click="login()"
					data-ng-disabled='form.$invalid'>Sign in</button>
				<button class="btn clear" data-ng-click="clearForm()">Clear</button>
			</div>
		</form>
	</article>


	<article></article>

</section>