
<div data-ng-include="'templates/subheader.html'"></div>

<article class="row offset1 span6" style="margin-top:2%;">
		
	<form name="form" novalidate class="form-horizontal span6" >

		<div class="modal-header offset1">
			<h4>Please enter your login details</h4>
		</div>

		<div class="control-group">
			<div class="alert alert-error" data-ng-show="authError">
				{{authError}}</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputEmail">E-mail</label>
			<div class="controls">
				<input class="input-xlarge" type="email" id="inputEmail" placeholder="Email"
					data-ng-model="credentials.email" required autofocus>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputPassword">Password</label>
			<div class="controls">
				<input class="input-xlarge" type="password" id="inputPassword" placeholder="Password"
					data-ng-model="credentials.password" required>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button class="btn btn-inverse login" data-ng-click="login()"
					data-ng-disabled='form.$invalid'>Sign in</button>
				<button class="btn clear" data-ng-click="clearLogin()">Clear</button>
			</div>
		</div>

	</form>

</article>
