
<article class="span5 offset3" style="margin-top: 2%;">

	<h4>My Processes</h4>

	<table class="table row" style="margin-top: 4%;">
		<tbody>
			<tr data-ng-repeat="process in processes">
				<td data-ng-bind="process.name"></td>
				<td><a data-popover="{{process.description}}" data-popover-title="{{process.name}}" class="btn-link">Description</a></td>
				<td><ul style="display: inline">
						<li data-ng-repeat="tag in process.tags"><span class="label label-success">{{tag.name}}</span></li>
					</ul></td>
			</tr>
		</tbody>
	</table>
</article>