
<article class="span5 offset3" style="margin-top: 2%;">

	<h3>My Processes</h3>

	<table class="table" style="margin-top: 4%;">
		<tbody>
			<tr data-ng-repeat="process in processes">
				<td class="btn-link"><strong><a data-popover="{{process.description}}"
						data-popover-trigger="mouseenter" data-popover-title="{{process.name}}" class="btn-link"
						href="/process/{{process._id}}/">{{process.name}}</a></strong></td>
				<td><span data-ng-repeat="tag in process.tags" class="label label-success">{{tag.name}}</span></td>
			</tr>
		</tbody>
	</table>
</article>