<article class="span8 offset1" style="margin-top: 2%;">
	<form name="form" novalidate class="form-horizontal span8">

		<div class="modal-header offset1">
			<h4>Process details</h4>
		</div>

		<div class="control-group">
			<div class="alert alert-error" data-ng-show="processError"
				data-ng-bind="processError"></div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputName">Name</label>
			<div class="controls">
				<input class="input-xlarge" name="inputName" type="text"
					data-ng-model="process.name" required data-ng-minlength="4"
					autofocus>
			</div>
			<span class="error" data-ng-show="form.inputName.$error.minlength">Too
				short!</span>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputDescription">Description</label>
			<div class="controls">
				<textarea class="input-xlarge" name="inputDescription"
					data-ng-model="process.description" rows="5" cols="12" required
					autofocus></textarea>
			</div>
			<span class="error"
				data-ng-show="form.inputLastname.$error.minlength">Too short!</span>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputLocation">Location</label>
			<div class="controls">
				<input type="text" data-ng-model="inputLocation"
					placeholder="Type your location"
					data-typeahead="address.formatted_address for address in getLocations($viewValue) | filter:$viewValue"
					data-typeahead-on-select="addLocation()" class="input-xlarge">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputPassword">Tags</label>
			<div class="controls">
				<input type="text" data-ng-model="inputTag" data-ng-keypress="addTagOnIntro($event)"
					data-typeahead-on-select="addTag()"
					data-typeahead="tag.name for tag in getTags($viewValue) | filter:$viewValue | limitTo:8"
					class="input-xlarge">
			</div>
		</div>

		<div class="control-group">
			<div class="well well-large span4 offset2">
				<a data-ng-repeat="tag in process.tags" class="btn-link"
					data-ng-click="removeTag(tag)"><span
					class="label label-success"> {{tag.name}} <i class="icon-remove"></i></span></a>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button class="btn btn-primary" data-ng-click="factorsPopup()"
					data-ng-disabled='form.$invalid'>Ok</button>
				<button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</form>
</article>